version: "3.8"
services:
  server:
    build:
      context: server
      dockerfile: ./Dockerfile
    image: server:latest
    command: python3 main.py
    volumes:
      - ./server:/opt/api
    ports:
      - "8000:8000"
    stdin_open: true
    tty: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
  client:
    build:
      context: client
      dockerfile: ./Dockerfile
    image: streamlit-client:latest
    volumes:
      - ./client:/opt/app
    ports:
      - "8501:8501"
    stdin_open: true
    tty: true


  worker:
    build:
      context: server
      dockerfile: ./Dockerfile
    command: celery -A app.celery.celery_app worker --max-tasks-per-child=1 --pool=solo --loglevel=info -Q
    stable_diffusion
    volumes:
      - ./server:/opt/api
    stdin_open: true
    tty: true
    depends_on:
      server:
        condition: service_started
      redis:
        condition: service_started
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]

  flower:
    build: ./server
    command: celery flower --basic_auth=admin:password
    volumes:
      - ./server:/opt/api
    ports:
      - "5555:5555"
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
    depends_on:
      server:
        condition: service_started
      redis:
        condition: service_started

  redis:
    image: redis:6-alpine
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 1s
      timeout: 3s
      retries: 30


